{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}WSL Fantasy{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link href="{% static 'styles.css' %}" rel="stylesheet" />
  <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'images/favicon.svg'  %}" />
  <script src="{% static 'main.js' %}"></script>
</head>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg mb-2">
    <div class="container-fluid">
      <a class="navbar-brand mb-2 mb-lg-0" href="{% url 'index' %}">
        <i class="bi bi-tsunami"></i>
        WSL Fantasy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ranking</a>
          </li>
          {% if user.is_authenticated %}
          <span class="nav-link">|</span>
          <li class="nav-item">
            <a class="nav-link" href="#"><strong>@{{ user.username }}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">League</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="body">{% block body %} {% endblock %}</div>

  <footer class="bg-body-tertiary mt-auto">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 text-center p-3">
        © 2024 All rights reserved | Created by Alexandre Debortoli
        <i class="bi bi-code-slash"></i>
      </div>
      <div class="col d-flex justify-content-end align-items-center gap-3">
        <a class="text-secondary" href="https://github.com/alexandredebortoli" target="_blank"
          style="font-size: 2rem"><i class="bi bi-github"></i></a>
        <a class="text-secondary" href="https://www.linkedin.com/in/alexandredds" target="_blank"
          style="font-size: 2rem"><i class="bi bi-linkedin"></i></a>
        <div></div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
</body>

</html>