{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>2024 Championship Tour Events</h2>

    <ul class="list-group list-group-flush mt-3 mb-5">
        {% for event in events  %}
        <li class="list-group-item py-4 d-flex justify-content-between align-items-center">
            <div class="w-100 d-flex flex-column justify-content-between">
                <div class="row align-items-center row-gap-3">
                    <div class="col-12 col-md-6">
                        <h4>#{{event.number}} <b>{{event.name}}</b></h4>
                        <div class="text-secondary-emphasis">{{event.location}}</div>
                        {% if event.status == "Completed" %}
                        <a class="btn btn-sm btn-outline-primary mt-3 show-results" data-bs-toggle="collapse"
                            href="#result-{{event.number}}" role="button" aria-expanded="false">
                            Show Results
                        </a>
                        <div class="row collapse mt-4 gap-4" id="result-{{event.number}}">
                            <div class="col-xl-12 col-12 d-flex align-items-center gap-3">
                                <i class="bi bi-1-circle text-primary fs-2"></i>
                                <div class="w-100 d-flex align-items-center gap-2">
                                    <div class="col-auto">
                                        <img class="rounded-circle img-fluid" src="{{ event.first_place.headshot_url }}"
                                            alt="{{ event.first_place.name }}"
                                            style="max-width: 64px; max-height: 64px;">
                                    </div>
                                    <div class="col">
                                        {{ event.first_place.name }}
                                        <br>
                                        <small class="text-secondary-emphasis"><i class="bi bi-geo"></i>
                                            {{ event.first_place.country }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex align-items-center gap-3">
                                <i class="bi bi-2-circle text-danger fs-2"></i>
                                <div class="w-100 d-flex align-items-center gap-2">
                                    <div class="col-auto">
                                        <img class=" rounded-circle img-fluid"
                                            src="{{ event.second_place.headshot_url }}"
                                            alt="{{ event.second_place.name }}"
                                            style="max-width: 64px; max-height: 64px;">
                                    </div>
                                    <div class="col">
                                        {{ event.second_place.name }}
                                        <br>
                                        <small class="text-secondary-emphasis"><i class="bi bi-geo"></i>
                                            {{ event.second_place.country }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col fw-bold fs-5">
                        {{event.start_date}} - {{event.end_date}}
                    </div>
                </div>
            </div>
            {% if event.status == "Completed" %}
            <span class="badge text-bg-primary rounded-pill">{{event.status}}</span>
            {% elif event.status == "Standby" %}
            <span class="badge text-bg-danger rounded-pill">{{event.status}}</span>
            {% elif event.status == "Live" %}
            <span class="badge text-bg-warning rounded-pill">{{event.status}}</span>
            {% else %}
            <span class="badge text-bg-secondary rounded-pill">{{event.status}}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}